//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

body,{
  margin: 0; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

// Margin and padding

.margin-top-7{
	margin-top: 7%;
}

.margin-top-5{
	margin-top: 5%;
}

.margin-top-3{
	margin-top: 3%;
}

.padding-laterales{
	padding-right: 7%;
	padding-left: 7%;
}

.row{
	margin: 0;
	padding: 0;
}